.button {
  position: relative;
  z-index: 10;

  &:focus {
    .list {
      display: flex;
    }
  }

  .list {
    background-color: #fff;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 100%;
    right: calc(100% - 32px);
    overflow: hidden;
    flex-direction: column;
    box-shadow: rgba(157, 166, 175, 0.2) 0px 0px 2px 0px,
      rgba(187, 192, 199, 0.12) 0px 12px 24px -4px;

    > li {
      padding: 12px;
      min-width: 120px;
      text-align: left;
      border-top: 1px solid #f6f6f6;
      font-size: 12px;

      &:hover {
        background-color: #00000006;
      }
    }
  }
}
