.frame {
  position: relative;
  width: 100%;
  .title {
    position: absolute;
    top: -8px;
    left: 6px;
    padding: 0px 8px;
    font-size: 10px;
    border-radius: 4px;
    background-color: #fff;
    z-index: 10;
  }
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
    padding: 12px 16px;
    outline: none;
    width: 100%;
    border-radius: 8px;
    background: #fff;
  }
}
