$shadow: rgba(157, 166, 175, 0.2) 0px 0px 2px 0px,
  rgba(187, 192, 199, 0.12) 0px 12px 24px -4px;

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 76px;
  width: fit-content;
  height: 36px;
  background-color: #fff;
  border-radius: 6px;
  padding: 0px 24px;
  border: 1px solid #eee;
  overflow: hidden;
  gap: 8px;
  &::after {
    display: none;
    content: "";
    border: 4px solid rgba(255, 255, 255, 0.168);
    border-radius: 100%;
    position: absolute;
    animation: animation 1.32s ease forwards;
  }
  &:hover {
    &::after {
      display: block;
    }
  }
  .icon {
    width: 8px;
  }
}

.warning {
  background: #f9f3f3;
  color: #f64545;
}

.default {
  box-shadow: $shadow;
  background: #4c79ff;
  color: #fff;
  border: none;
}

@keyframes animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(8000%);
  }
}
