.items {
  display: grid;
  gap: 8px;
  width: 100%;
  user-select: none;

  .title {
    padding: 0px 0px 4px 8px;
    font-size: 10px;
    font-weight: bold;
    color: #919eab;
  }

  .item {
    padding: 8px 12px;
    position: relative;
    gap: 8px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    filter: grayscale(1);

    .content {
      display: flex;
      gap: 6px;
    }

    .frameChildren {
      margin-left: 8px;
      padding: 12px 4px;
      padding-left: 18px;
      border-left: 1px solid #d7d7d7;
    }

    .prefix {
      left: -19px;
      top: 8px;
      position: absolute;
      border-radius: 0px 0px 0px 6px;
      border-left: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7;
      width: 12px;
      height: 12px;
    }

    .icon {
      width: 20px;
      opacity: 0.8;
    }
  }
  .hover {
    &:hover {
      background: #f2f4f7;
    }
  }

  .active {
    opacity: 1;
    filter: grayscale(0);
    background: #f2f4f7 !important;
  }
}
