.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #eee;
  // box-shadow: rgba(157, 166, 175, 0.2) 0px 0px 2px 0px,
  //   rgba(187, 192, 199, 0.12) 0px 12px 24px -4px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
  }
  .react-calendar__tile--now {
    background: #0000000a;
    border-radius: 6px;
    color: #6f48eb;
  }
  .react-calendar__tile--active {
    abbr {
      text-decoration: none;
      color: #000;
    }
  }
  .react-calendar__month-view__weekdays__weekday {
    text-transform: capitalize;
    abbr {
      text-decoration: none;
    }
  }
}

.react-calendar__navigation {
  display: none;
}
