.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  border-right: 1px dashed #e7e7e7;
  ::-webkit-scrollbar {
    width: 0px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 24px;
    gap: 24px;

    .wrapperLogo {
      display: flex;
      align-items: center;
      gap: 12px;

      .logo {
        width: 48px;
        height: 48px;
        object-fit: contain;
      }

      > span {
        font-weight: bold;
      }
    }
  }
}
